<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Edwardian door - Leaderboards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <span class="navbar-text">
                Logged in as <%=user.username%>
            </span>
            <span class="nav-item" style="padding-left: 3rem;">
                <a class="navbar-text" href="/home">Home</a>
            </span>
    </div>
    <div class="mx-auto order-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="jumbotron">
    <h1>Leaderboards</h1>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Money</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = (pageNumber-1)*10; i<result.length && i<(pageNumber-1)*10 + 10; i++){ %>
    <tr>
        <th scope="row"><%=i+1%></th>
        <td><%=result[i].username%></td>
        <td>$<%=(Math.round(result[i].money * 100) / 100).toFixed(2)%></td>
    </tr>
    <% } %>
    </tbody>
</table>

<% if(numberOfPages>0) { %>
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a id='pos' class="page-link" href="/leaderboards/1#pos">First</a>
        </li>
        <% if(pageNumber<=1){ %>
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <% } else { %>
        <li class="page-item">
            <a class="page-link" href="/leaderboards/<%=Number(pageNumber)-1%>#pos">Previous</a>
        </li>
        <% } %>

        <% switch(Number(numberOfPages)){
        case(1): %>
            <li class="page-item"><a class="page-link" href="/leaderboards/1#pos">1</a></li>
        <%break;
        case(2): %>
            <li class="page-item"><a class="page-link" href="/leaderboards/1#pos">1</a></li>
            <li class="page-item"><a class="page-link" href="/leaderboards/2#pos">2</a></li>
        <%break;
        default:
            if(pageNumber==1){ %>
                <li class="page-item"><a class="page-link" href="/leaderboards/1#pos">1</a></li>
                <li class="page-item"><a class="page-link" href="/leaderboards/2#pos">2</a></li>
                <li class="page-item"><a class="page-link" href="/leaderboards/3#pos">3</a></li>
            <% } else if(pageNumber==numberOfPages){ %>
                <li class="page-item"><a class="page-link" href="/leaderboards/<%=Number(pageNumber)-2%>#pos"><%=Number(pageNumber)-2%></a></li>
                <li class="page-item"><a class="page-link" href="/leaderboards/<%=Number(pageNumber)-1%>#pos"><%=Number(pageNumber)-1%></a></li>
                <li class="page-item"><a class="page-link" href="/leaderboards/<%=Number(pageNumber)%>#pos"><%=Number(pageNumber)%></a></li>
            <% } else{ %>
                <li class="page-item"><a class="page-link" href="/leaderboards/<%=Number(pageNumber)-1%>#pos"><%=Number(pageNumber)-1%></a></li>
                <li class="page-item"><a class="page-link" href="/leaderboards/<%=Number(pageNumber)%>#pos"><%=Number(pageNumber)%></a></li>
                <li class="page-item"><a class="page-link" href="/leaderboards/<%=Number(pageNumber)+1%>#pos"><%=Number(pageNumber)+1%></a></li>
            <% } %>
        <% } %>

        <% if (pageNumber < numberOfPages) { %>
        <li class="page-item">
            <a class="page-link" href="/leaderboards/<%=Number(pageNumber)+1%>#pos">Next</a>
        </li>
        <% } else { %>
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        <% } %>
        <li class="page-item">
            <a class="page-link" href="/leaderboards/<%=Number(numberOfPages)%>#pos">Last</a>
        </li>
    </ul>
</nav>
<% } %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
